+ Residential vs Commercial
+ Year built vs Sale Price
+ Total Units vs Residential/Commercial
+ Borough

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('NYC_Housing.csv', header=0, parse_dates=True, index_col = 'SALE DATE')
print(df)

            Sr. No.  BOROUGH               NEIGHBORHOOD  \
SALE DATE
2017-08-31      226        1                    CHELSEA
2017-08-31      227        1                    CHELSEA
2017-08-31      228        1                    CHELSEA
2017-08-31      309        1                    CHELSEA
2017-08-31     1795        1               EAST VILLAGE
2017-08-31     2965        1                   FLATIRON
2017-08-31     2966        1                   FLATIRON
2017-08-31     3370        1                   GRAMERCY
2017-08-31     3835        1  GREENWICH VILLAGE-CENTRAL
2017-08-31     4310        1     GREENWICH VILLAGE-WEST
2017-08-31     4809        1             HARLEM-CENTRAL
2017-08-31     6413        1                   KIPS BAY
2017-08-31     6660        1                   KIPS BAY
2017-08-31     8062        1               MIDTOWN EAST
2017-08-31     8169        1               MIDTOWN EAST
2017-08-31     8521        1               MIDTOWN EAST
2017-08-31    10347        1                MURRAY HILL
2017-08-31    10447        1                MURRAY HILL
2017-08-31    13635        1    UPPER EAST SIDE (79-96)
2017-08-31    13771        1    UPPER EAST SIDE (79-96)
2017-08-31    14081        1    UPPER EAST SIDE (79-96)
2017-08-31    14364        1    UPPER EAST SIDE (79-96)
2017-08-31    15142        1    UPPER WEST SIDE (59-79)
2017-08-31    16198        1    UPPER WEST SIDE (59-79)
2017-08-31    16721        1    UPPER WEST SIDE (79-96)
2017-08-31    16838        1    UPPER WEST SIDE (79-96)
2017-08-31    17497        1    UPPER WEST SIDE (79-96)
2017-08-31    18261        1   WASHINGTON HEIGHTS UPPER
2017-08-31      113        2                 BAYCHESTER
2017-08-31     1547        2               COUNTRY CLUB
...             ...      ...                        ...
2016-09-01      631        5                 BULLS HEAD
2016-09-01      794        5                 BULLS HEAD
2016-09-01      940        5                 BULLS HEAD
2016-09-01     1162        5                CLOVE LAKES
2016-09-01     1415        5               DONGAN HILLS
2016-09-01     1489        5        DONGAN HILLS-COLONY
2016-09-01     1778        5                ELTINGVILLE
2016-09-01     1780        5                ELTINGVILLE
2016-09-01     2010        5                 GRANT CITY
2016-09-01     2301        5                GREAT KILLS
2016-09-01     2319        5                GREAT KILLS
2016-09-01     2495        5                GREAT KILLS
2016-09-01     2662        5                GREAT KILLS
2016-09-01     2995        5                GRYMES HILL
2016-09-01     3119        5                   HUGUENOT
2016-09-01     4160        5               NEW BRIGHTON
2016-09-01     4356        5                   NEW DORP
2016-09-01     4409        5             NEW DORP-BEACH
2016-09-01     5333        5            PLEASANT PLAINS
2016-09-01     5592        5              PORT RICHMOND
2016-09-01     5858        5                PRINCES BAY
2016-09-01     6030        5                   ROSEBANK
2016-09-01     7362        5                     TRAVIS
2016-09-01     7659        5          WEST NEW BRIGHTON
2016-09-01     7914        5                WESTERLEIGH
2016-09-01     8092        5                WILLOWBROOK
2016-09-01     8094        5                WILLOWBROOK
2016-09-01     8128        5                WILLOWBROOK
2016-09-01     8219        5                WILLOWBROOK
2016-09-01     8343        5                    WOODROW

                                BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
SALE DATE
2017-08-31  07 RENTALS - WALKUP APARTMENTS                                2B
2017-08-31  07 RENTALS - WALKUP APARTMENTS                                2B
2017-08-31  07 RENTALS - WALKUP APARTMENTS                                2B
2017-08-31  09 COOPS - WALKUP APARTMENTS                                   2
2017-08-31  02 TWO FAMILY DWELLINGS                                        1
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  09 COOPS - WALKUP APARTMENTS                                   2
2017-08-31  01 ONE FAMILY DWELLINGS                                        1
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS                                2
2017-08-31  17 CONDO COOPS                                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS                                2
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS                                2
2017-08-31  15 CONDOS - 2-10 UNIT RESIDENTIAL                             2C
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  09 COOPS - WALKUP APARTMENTS                                  2C
2017-08-31  13 CONDOS - ELEVATOR APARTMENTS
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  17 CONDO COOPS                                                 2
2017-08-31  10 COOPS - ELEVATOR APARTMENTS                                 2
2017-08-31  01 ONE FAMILY DWELLINGS                                        1
2017-08-31  02 TWO FAMILY DWELLINGS                                        1
...                                                 ...                  ...
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  04 TAX CLASS 1 CONDOS                                         1A
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  13 CONDOS - ELEVATOR APARTMENTS                                2
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  07 RENTALS - WALKUP APARTMENTS                                2A
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1
2016-09-01  02 TWO FAMILY DWELLINGS                                        1
2016-09-01  01 ONE FAMILY DWELLINGS                                        1

            BLOCK   LOT EASE-MENT BUILDING CLASS AT PRESENT  \
SALE DATE
2017-08-31    765    25                                  C4
2017-08-31    765    25                                  C4
2017-08-31    765    25                                  C4
2017-08-31    766    23                                  C6
2017-08-31    436     1                                  S2
2017-08-31    851  2170
2017-08-31    851  2172
2017-08-31    908    47                                  D4
2017-08-31    573    39                                  D4
2017-08-31    640    44                                  C6
2017-08-31   2041   126                                  A9
2017-08-31    928  1652                                  R4
2017-08-31    928  1107                                  R9
2017-08-31   1365    20                                  D4
2017-08-31   1369    12                                  D4
2017-08-31   1344  1309                                  R4
2017-08-31    890  1410                                  R4
2017-08-31    892  1206                                  R1
2017-08-31   1497    28                                  D4
2017-08-31   1507    69                                  D4
2017-08-31   1542    33                                  D4
2017-08-31   1590     7                                  D4
2017-08-31   1163     6                                  C6
2017-08-31   1171  4687
2017-08-31   1203    37                                  D4
2017-08-31   1224     1                                  D4
2017-08-31   1234  1003                                  R9
2017-08-31   2180   633                                  D4
2017-08-31   4745    30                                  A1
2017-08-31   5473     3                                  B3
...           ...   ...       ...                       ...
2016-09-01   1606     8                                  A2
2016-09-01   1644    35                                  B9
2016-09-01   1668  1175                                  R3
2016-09-01    310    41                                  A5
2016-09-01   3316    52                                  B2
2016-09-01    869   822                                  A3
2016-09-01   5602    25                                  B2
2016-09-01   5602   101                                  B2
2016-09-01   3585  1127                                  R4
2016-09-01   5126    44                                  A1
2016-09-01   5140    60                                  A2
2016-09-01   5318    72                                  A5
2016-09-01   5535    47                                  A5
2016-09-01    587    63                                  A1
2016-09-01   6844     7                                  A2
2016-09-01     60    53                                  C3
2016-09-01   4245    61                                  B2
2016-09-01   4065    17                                  A1
2016-09-01   7534   361                                  A1
2016-09-01   1044    46                                  B2
2016-09-01   6979   116                                  B9
2016-09-01   2865    56                                  A5
2016-09-01   2620    95                                  A5
2016-09-01    181    24                                  B2
2016-09-01   1475    13                                  A0
2016-09-01    784    18                                  A2
2016-09-01    785    32                                  A2
2016-09-01   1979    28                                  A1
2016-09-01   1982    58                                  B2
2016-09-01   7316    34                                  A5

                               ADDRESS    ...     ZIP CODE  RESIDENTIAL UNITS  \
SALE DATE                                 ...
2017-08-31        219 WEST 15TH STREET    ...        10011                  9
2017-08-31        219 WEST 15TH STREET    ...        10011                  9
2017-08-31        219 WEST 15TH STREET    ...        10011                  9
2017-08-31    227 WEST 16TH STREET, 5W    ...        10011                  0
2017-08-31                138 1 AVENUE    ...        10009                  2
2017-08-31       45 EAST 22ND   STREET    ...        10010                  0
2017-08-31       45 EAST 22ND   STREET    ...        10010                  0
2017-08-31    208 EAST 28TH STREET, 3L    ...        10016                  0
2017-08-31        30 FIFTH AVENUE, 9HJ    ...        10011                  0
2017-08-31    350 WEST 12TH STREET, 5B    ...        10014                  0
2017-08-31         314 WEST 138 STREET    ...        10030                  1
2017-08-31                385 1 AVENUE    ...        10010                  1
2017-08-31    310 EAST 23RD STREET, 8D    ...        10010                  0
2017-08-31  60 SUTTON PLACE SOUTH, 1ES    ...        10022                  0
2017-08-31    435 EAST 57TH STREET, 5B    ...        10022                  0
2017-08-31      305 EAST 51ST   STREET    ...        10022                  1
2017-08-31        143 EAST 34TH STREET    ...        10016                  1
2017-08-31        113 EAST 36TH STREET    ...        10016                  1
2017-08-31     45 EAST 85TH STREET, 5B    ...        10028                  0
2017-08-31      1148 FIFTH AVENUE, 11D    ...        10128                  0
2017-08-31    330 EAST 80TH STREET, 2H    ...        10075                  0
2017-08-31        1 GRACIE TERRACE, 8A    ...        10028                  0
2017-08-31    267 WEST 71ST STREET, 3R    ...        10023                  0
2017-08-31           1 WEST END AVENUE    ...            0                  0
2017-08-31      2 WEST 90TH STREET, 4B    ...        10024                  0
2017-08-31   175 WEST 93RD STREET, 16B    ...        10025                  0
2017-08-31          2373 BROADWAY, 603    ...        10024                  0
2017-08-31      259 BENNETT AVENUE, 5F    ...        10040                  0
2017-08-31           1611 GIVAN AVENUE    ...        10469                  1
2017-08-31       3204 LAFAYETTE AVENUE    ...        10465                  2
...                                ...    ...          ...                ...
2016-09-01          129 KIRSHON AVENUE    ...        10314                  1
2016-09-01               14 ZECK COURT    ...        10314                  2
2016-09-01             408 LISK AVENUE    ...        10303                  1
2016-09-01        260 ELIZABETH STREET    ...        10310                  1
2016-09-01         173 DELAWARE AVENUE    ...        10304                  2
2016-09-01          15 DELAWARE STREET    ...        10304                  1
2016-09-01            37 LAREDO AVENUE    ...        10312                  2
2016-09-01            724 KATAN AVENUE    ...        10312                  2
2016-09-01           100 COLFAX AVENUE    ...        10306                  1
2016-09-01        151 GREAT KILLS ROAD    ...        10308                  1
2016-09-01        239 HILLSIDE TERRACE    ...        10308                  1
2016-09-01       57 THORNYCROFT AVENUE    ...        10312                  1
2016-09-01              70 GETZ AVENUE    ...        10312                  1
2016-09-01             96 LOUIS STREET    ...        10304                  1
2016-09-01          692 SHELDON AVENUE    ...        10312                  1
2016-09-01          92 FILLMORE STREET    ...        10301                  4
2016-09-01          160 ALLISON AVENUE    ...        10306                  2
2016-09-01              26 HETT AVENUE    ...        10306                  1
2016-09-01                64 SAVO LOOP    ...        10309                  1
2016-09-01         423 HEBERTON AVENUE    ...        10302                  2
2016-09-01             28 MORENO COURT    ...        10309                  2
2016-09-01             84 EVELYN PLACE    ...        10305                  1
2016-09-01              49 TOWERS LANE    ...        10314                  1
2016-09-01            50 SENECA STREET    ...        10310                  2
2016-09-01        281 WILLOWBROOK ROAD    ...        10302                  1
2016-09-01           191 MARTIN AVENUE    ...        10314                  1
2016-09-01           164 MARTIN AVENUE    ...        10314                  1
2016-09-01          40 DEWHURST STREET    ...        10314                  1
2016-09-01             39 BOONE STREET    ...        10314                  2
2016-09-01             18 DARNELL LANE    ...        10309                  1

            COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET GROSS SQUARE FEET  \
SALE DATE
2017-08-31                 0            9              1566              6330
2017-08-31                 0            9              1566              6330
2017-08-31                 0            9              1566              6330
2017-08-31                 0            0               -                 -
2017-08-31                 1            3              1200              3360
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            1              1699              3536
2017-08-31                 0            1               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            1               -                 -
2017-08-31                 0            1               -                 -
2017-08-31                 0            1               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            0               -                 -
2017-08-31                 0            1              2701              1096
2017-08-31                 0            2              2997              2016
...                      ...          ...               ...               ...
2016-09-01                 0            1              6432              1379
2016-09-01                 0            2              4100              1822
2016-09-01                 0            1               -                 -
2016-09-01                 0            1              2175              1705
2016-09-01                 0            2              5000              3685
2016-09-01                 0            1              8183              3150
2016-09-01                 0            2              3840              2317
2016-09-01                 0            2              3880              2462
2016-09-01                 0            1               -                 -
2016-09-01                 0            1              6300              1592

In [4]:
df.tail()

,Sr. No.,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84543,8092,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,784,18,,A2,191 MARTIN AVENUE,...,1,0,1,4000,2160,1970,1,A2,720000,09/01/2016 0:00
84544,8094,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,785,32,,A2,164 MARTIN AVENUE,...,1,0,1,4000,2142,1965,1,A2,589000,09/01/2016 0:00
84545,8128,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,1979,28,,A1,40 DEWHURST STREET,...,1,0,1,4000,1990,1965,1,A1,649000,09/01/2016 0:00
84546,8219,5,WILLOWBROOK,02 TWO FAMILY DWELLINGS,1,1982,58,,B2,39 BOONE STREET,...,2,0,2,4600,2188,1960,1,B2,720000,09/01/2016 0:00
84547,8343,5,WOODROW,01 ONE FAMILY DWELLINGS,1,7316,34,,A5,18 DARNELL LANE,...,1,0,1,3187,1300,1996,1,A5,-,09/01/2016 0:00

In [5]:
del df['Sr. No.']

In [19]:
df.sort('SALE DATE')

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
SALE DATE,,,,,,,,,,,,,,,,,,,,
08/31/2017 0:00,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,10011,9,0,9,1566,6330,1901,2,C4,1583840
08/31/2017 0:00,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,10011,9,0,9,1566,6330,1901,2,C4,416790
08/31/2017 0:00,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,10011,9,0,9,1566,6330,1901,2,C4,630370
08/31/2017 0:00,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,766,23,,C6,"227 WEST 16TH STREET, 5W",,10011,0,0,0,-,-,1910,2,C6,480000
08/31/2017 0:00,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,436,1,,S2,138 1 AVENUE,,10009,2,1,3,1200,3360,1900,1,S2,3000000
08/31/2017 0:00,1,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,,851,2170,,,45 EAST 22ND STREET,,10010,0,0,0,-,-,0,2,R4,10220998
08/31/2017 0:00,1,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,,851,2172,,,45 EAST 22ND STREET,,10010,0,0,0,-,-,0,2,R4,10496435
08/31/2017 0:00,1,GRAMERCY,10 COOPS - ELEVATOR APARTMENTS,2,908,47,,D4,"208 EAST 28TH STREET, 3L",,10016,0,0,0,-,-,1940,2,D4,420810
08/31/2017 0:00,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,573,39,,D4,"30 FIFTH AVENUE, 9HJ",,10011,0,0,0,-,-,1923,2,D4,2850000
08/31/2017 0:00,1,GREENWICH VILLAGE-WEST,09 COOPS - WALKUP APARTMENTS,2,640,44,,C6,"350 WEST 12TH STREET, 5B",,10014,0,0,0,-,-,1915,2,C6,749500
08/31/2017 0:00,1,HARLEM-CENTRAL,01 ONE FAMILY DWELLINGS,1,2041,126,,A9,314 WEST 138 STREET,,10030,1,0,1,1699,3536,1901,1,A9,1595790
08/31/2017 0:00,1,KIPS BAY,13 CONDOS - ELEVATOR APARTMENTS,2,928,1652,,R4,385 1 AVENUE,9A,10010,1,0,1,-,-,2002,2,R4,1274544
08/31/2017 0:00,1,KIPS BAY,17 CONDO COOPS,2,928,1107,,R9,"310 EAST 23RD STREET, 8D",,10010,0,0,0,-,-,1900,2,R9,595000
08/31/2017 0:00,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1365,20,,D4,"60 SUTTON PLACE SOUTH, 1ES",,10022,0,0,0,-,-,1951,2,D4,855000
08/31/2017 0:00,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1369,12,,D4,"435 EAST 57TH STREET, 5B",,10022,0,0,0,-,-,1927,2,D4,1325000
08/31/2017 0:00,1,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1344,1309,,R4,305 EAST 51ST STREET,RU27A,10022,1,0,1,-,-,2007,2,R4,5400000
08/31/2017 0:00,1,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,890,1410,,R4,143 EAST 34TH STREET,5N,10016,1,0,1,-,-,2001,2,R4,1510000
08/31/2017 0:00,1,MURRAY HILL,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,892,1206,,R1,113 EAST 36TH STREET,6,10016,1,0,1,-,-,1910,2,R1,655000
08/31/2017 0:00,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1497,28,,D4,"45 EAST 85TH STREET, 5B",,10028,0,0,0,-,-,1925,2,D4,3324000
08/31/2017 0:00,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1507,69,,D4,"1148 FIFTH AVENUE, 11D",,10128,0,0,0,-,-,1923,2,D4,3824000
08/31/2017 0:00,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1542,33,,D4,"330 EAST 80TH STREET, 2H",,10075,0,0,0,-,-,1957,2,D4,569000
08/31/2017 0:00,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1590,7,,D4,"1 GRACIE TERRACE, 8A",,10028,0,0,0,-,-,1953,2,D4,1875000
08/31/2017 0:00,1,UPPER WEST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2C,1163,6,,C6,"267 WEST 71ST STREET, 3R",,10023,0,0,0,-,-,1900,2,C6,750000
08/31/2017 0:00,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,,1171,4687,,,1 WEST END AVENUE,,0,0,0,0,-,-,0,2,R4,2410437
08/31/2017 0:00,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1203,37,,D4,"2 WEST 90TH STREET, 4B",,10024,0,0,0,-,-,1930,2,D4,605000
08/31/2017 0:00,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1224,1,,D4,"175 WEST 93RD STREET, 16B",,10025,0,0,0,-,-,1929,2,D4,840000
08/31/2017 0:00,1,UPPER WEST SIDE (79-96),17 CONDO COOPS,2,1234,1003,,R9,"2373 BROADWAY, 603",,10024,0,0,0,-,-,1987,2,R9,985000
08/31/2017 0:00,1,WASHINGTON HEIGHTS UPPER,10 COOPS - ELEVATOR APARTMENTS,2,2180,633,,D4,"259 BENNETT AVENUE, 5F",,10040,0,0,0,-,-,1951,2,D4,-
08/31/2017 0:00,2,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,4745,30,,A1,1611 GIVAN AVENUE,,10469,1,0,1,2701,1096,1910,1,A1,420000
08/31/2017 0:00,2,COUNTRY CLUB,02 TWO FAMILY DWELLINGS,1,5473,3,,B3,3204 LAFAYETTE AVENUE,,10465,2,0,2,2997,2016,1955,1,B3,210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
09/01/2016 0:00,5,BULLS HEAD,01 ONE FAMILY DWELLINGS,1,1606,8,,A2,129 KIRSHON AVENUE,,10314,1,0,1,6432,1379,1950,1,A2,560000
09/01/2016 0:00,5,BULLS HEAD,02 TWO FAMILY DWELLINGS,1,1644,35,,B9,14 ZECK COURT,,10314,2,0,2,4100,1822,1970,1,B9,-
09/01/2016 0:00,5,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1668,1175,,R3,408 LISK AVENUE,,10303,1,0,1,-,-,1985,1,R3,195000
09/01/2016 0:00,5,CLOVE LAKES,01 ONE FAMILY DWELLINGS,1,310,41,,A5,260 ELIZABETH STREET,,10310,1,0,1,2175,1705,2016,1,A5,384306
09/01/2016 0:00,5,DONGAN HILLS,02 TWO FAMILY DWELLINGS,1,3316,52,,B2,173 DELAWARE AVENUE,,10304,2,0,2,5000,3685,2016,1,B2,915406
09/01/2016 0:00,5,DONGAN HILLS-COLONY,01 ONE FAMILY DWELLINGS,1,869,822,,A3,15 DELAWARE STREET,,10304,1,0,1,8183,3150,1997,1,A3,-
09/01/2016 0:00,5,ELTINGVILLE,02 TWO FAMILY DWELLINGS,1,5602,25,,B2,37 LAREDO AVENUE,,10312,2,0,2,3840,2317,1975,1,B2,697000
09/01/2016 0:00,5,ELTINGVILLE,02 TWO FAMILY DWELLINGS,1,5602,101,,B2,724 KATAN AVENUE,,10312,2,0,2,3880,2462,1975,1,B2,-
09/01/2016 0:00,5,GRANT CITY,13 CONDOS - ELEVATOR APARTMENTS,2,3585,1127,,R4,100 COLFAX AVENUE,3V,10306,1,0,1,-,-,1961,2,R4,228000
09/01/2016 0:00,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5126,44,,A1,151 GREAT KILLS ROAD,,10308,1,0,1,6300,1592,1930,1,A1,1135000
09/01/2016 0:00,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5140,60,,A2,239 HILLSIDE TERRACE,,10308,1,0,1,5120,1426,1950,1,A2,-
09/01/2016 0:00,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5318,72,,A5,57 THORNYCROFT AVENUE,,10312,1,0,1,2380,1440,1975,1,A5,455000
09/01/2016 0:00,5,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5535,47,,A5,70 GETZ AVENUE,,10312,1,0,1,2375,1240,1997,1,A5,390000
09/01/2016 0:00,5,GRYMES HILL,01 ONE FAMILY DWELLINGS,1,587,63,,A1,96 LOUIS STREET,,10304,1,0,1,28800,3993,1901,1,A1,900000
09/01/2016 0:00,5,HUGUENOT,01 ONE FAMILY DWELLINGS,1,6844,7,,A2,692 SHELDON AVENUE,,10312,1,0,1,4000,2242,1970,1,A2,-
09/01/2016 0:00,5,NEW BRIGHTON,07 RENTALS - WALKUP APARTMENTS,2A,60,53,,C3,92 FILLMORE STREET,,10301,4,0,4,5500,4724,1931,2,C3,850000
09/01/2016 0:00,5,NEW DORP,02 TWO FAMILY DWELLINGS,1,4245,61,,B2,160 ALLISON AVENUE,,10306,2,0,2,4000,650,2016,1,B2,809508
09/01/2016 0:00,5,NEW DORP-BEACH,01 ONE FAMILY DWELLINGS,1,4065,17,,A1,26 HETT AVENUE,,10306,1,0,1,2000,1500,1930,1,A1,280000
09/01/2016 0:00,5,PLEASANT PLAINS,01 ONE FAMILY DWELLINGS,1,7534,361,,A1,64 SAVO LOOP,,10309,1,0,1,3800,2025,1997,1,A1,-
09/01/2016 0:00,5,PORT RICHMOND,02 TWO FAMILY DWELLINGS,1,1044,46,,B2,423 HEBERTON AVENUE,,10302,2,0,2,6050,2244,1910,1,B2,540000
09/01/2016 0:00,5,PRINCES BAY,02 TWO FAMILY DWELLINGS,1,6979,116,,B9,28 MORENO COURT,,10309,2,0,2,2900,1800,2015,1,B9,585493
09/01/2016 0:00,5,ROSEBANK,01 ONE FAMILY DWELLINGS,1,2865,56,,A5,84 EVELYN PLACE,,10305,1,0,1,2279,1428,2004,1,A5,580000
09/01/2016 0:00,5,TRAVIS,01 ONE FAMILY DWELLINGS,1,2620,95,,A5,49 TOWERS LANE,,10314,1,0,1,2336,1400,1995,1,A5,358000
09/01/2016 0:00,5,WEST NEW BRIGHTON,02 TWO FAMILY DWELLINGS,1,181,24,,B2,50 SENECA STREET,,10310,2,0,2,3775,2191,1940,1,B2,330000
09/01/2016 0:00,5,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1475,13,,A0,281 WILLOWBROOK ROAD,,10302,1,0,1,4150,900,1955,1,A2,545000
09/01/2016 0:00,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,784,18,,A2,191 MARTIN AVENUE,,10314,1,0,1,4000,2160,1970,1,A2,720000
09/01/2016 0:00,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,785,32,,A2,164 MARTIN AVENUE,,10314,1,0,1,4000,2142,1965,1,A2,589000
09/01/2016 0:00,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,1979,28,,A1,40 DEWHURST STREET,,10314,1,0,1,4000,1990,1965,1,A1,649000
09/01/2016 0:00,5,WILLOWBROOK,02 TWO FAMILY DWELLINGS,1,1982,58,,B2,39 BOONE STREET,,10314,2,0,2,4600,2188,1960,1,B2,720000
09/01/2016 0:00,5,WOODROW,01 ONE FAMILY DWELLINGS,1,7316,34,,A5,18 DARNELL LANE,,10309,1,0,1,3187,1300,1996,1,A5,-

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 84548 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000084547
Data columns (total 21 columns):
BOROUGH                           84548 non-null int64
NEIGHBORHOOD                      84548 non-null object
BUILDING CLASS CATEGORY           84548 non-null object
TAX CLASS AT PRESENT              84548 non-null object
BLOCK                             84548 non-null int64
LOT                               84548 non-null int64
EASE-MENT                         84548 non-null object
BUILDING CLASS AT PRESENT         84548 non-null object
ADDRESS                           84548 non-null object
APARTMENT NUMBER                  84548 non-null object
ZIP CODE                          84548 non-null int64
RESIDENTIAL UNITS                 84548 non-null int64
COMMERCIAL UNITS                  84548 non-null int64
TOTAL UNITS                       84548 non-null int64
LAND SQUARE FEET                  84548 non-null object
GROSS SQUARE FEET                 84548 non-null object
YEAR BUILT                        84548 non-null int64
TAX CLASS AT TIME OF SALE         84548 non-null int64
BUILDING CLASS AT TIME OF SALE    84548 non-null object
SALE PRICE                        84548 non-null object
SALE DATE                         84548 non-null object
dtypes: int64(9), object(12)
memory usage: 14.2+ MB

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
1970-01-01 00:00:00.000000000,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,1583840,08/31/2017 0:00
1970-01-01 00:00:00.000000001,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,416790,08/31/2017 0:00
1970-01-01 00:00:00.000000002,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,630370,08/31/2017 0:00
1970-01-01 00:00:00.000000003,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,766,23,,C6,"227 WEST 16TH STREET, 5W",,...,0,0,0,-,-,1910,2,C6,480000,08/31/2017 0:00
1970-01-01 00:00:00.000000004,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,436,1,,S2,138 1 AVENUE,,...,2,1,3,1200,3360,1900,1,S2,3000000,08/31/2017 0:00

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
1970-01-01 00:00:00.000000000,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,1583840,08/31/2017 0:00
1970-01-01 00:00:00.000000001,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,416790,08/31/2017 0:00
1970-01-01 00:00:00.000000002,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,,...,9,0,9,1566,6330,1901,2,C4,630370,08/31/2017 0:00
1970-01-01 00:00:00.000000003,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,766,23,,C6,"227 WEST 16TH STREET, 5W",,...,0,0,0,-,-,1910,2,C6,480000,08/31/2017 0:00
1970-01-01 00:00:00.000000004,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,436,1,,S2,138 1 AVENUE,,...,2,1,3,1200,3360,1900,1,S2,3000000,08/31/2017 0:00